/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --primary-color-orange: hsl(22, 89%, 52%);
  --primary-color-light-orange: hsl(22, 100%, 69%);
  --primary-color-blue: hsl(220, 50%, 17%);
  --primary-color-dark-gray: hsl(221, 23%, 58%);
  --primary-color-light-gray: hsl(198, 28%, 93%);
  --primary-color-white: hsl(0, 0%, 100%);

  /* Font */
  --main-font: "Barlow", sans-serif;
}

/* Text Styles */
.text-preset-1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}

.text-preset-2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
}

.text-preset-3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.text-preset-4 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* Styling Page itself */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  overflow-x: hidden;
}

.container {
  max-width: 32.7rem;
  margin: 0 auto;
}

/* Styling the header */

header {
  padding-top: 2.3rem;
  margin-bottom: 6.4rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
}

.btn-pre-order {
  border: none;
  padding: 1.1rem 1.4rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.4rem;
  font-weight: bold;
  height: 4.8rem;
}

.header-btn {
  background-color: var(--primary-color-light-gray);
  color: var(--primary-color-blue);
}

.header-btn:hover {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
}

/* Hero section */

.section-hero {
  margin-bottom: 2.4rem;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-text-box {
  margin-bottom: 6.4rem;
}

.hero-title {
  color: var(--primary-color-blue);
  margin-bottom: 3.2rem;
  font-weight: 900;
}

.hero-description {
  color: var(--primary-color-dark-gray);
  margin-bottom: 3.2rem;
}

.hero-btn {
  background-color: var(--primary-color-orange);
  color: var(--primary-color-white);
  margin-right: 3.2rem;
  transition: all 0.3s;
}

.hero-btn:hover {
  background-color: var(--primary-color-light-orange);
}

.release-date {
  color: var(--primary-color-dark-gray);
  text-transform: uppercase;
  font-weight: bold;
}

.hero-img-phone {
  width: 37.2rem;
  border-radius: 1.5rem;
  display: block;
}

.hero-img-tablet,
.hero-img-desktop,
.block {
  display: none;
}

/* Styling about section */

.section-about {
  margin-bottom: 11.1rem;
}

.about-img-box {
  display: flex;
  gap: 2.4rem;
  transform: translateX(-45px);
  margin-bottom: 7.5rem;
}

.img-wrapper {
  position: relative;
  width: 12.9rem;
  border-radius: 1.5rem;
  background-color: var(--primary-color-orange);
}

.about-img-left-ph {
  width: 12.9rem;
  border-radius: 1.5rem;
  mix-blend-mode: multiply;
}

.about-img-left-tab {
  display: none;
}

.about-img-left-ds {
  display: none;
}

.about-img-right-ph {
  width: 22rem;
  border-radius: 1.5rem;
}

.about-img-right-tab {
  display: none;
}

.about-img-right-ds {
  display: none;
}

.about-text-box {
  text-align: center;
}

.about-title {
  margin: 0 6rem 2.4rem 6rem;
  font-weight: 900;
  color: var(--primary-color-blue);
}

.about-description {
  color: var(--primary-color-dark-gray);
}

/* Styling Feature Section */

.section-features {
  margin-bottom: 9.6rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6.4rem;
  text-align: center;
}
.feature-icon {
  padding: 2.2rem 2rem;
  border-radius: 1.6rem;
  background-color: var(--primary-color-orange);
  margin-bottom: 4.8rem;
}
.feature-header {
  color: var(--primary-color-blue);
  font-weight: 900;
  margin: 0 6rem 2.4rem 6rem;
}

.feature-description {
  color: var(--primary-color-dark-gray);
}

/* Styling footer */
footer {
  margin-bottom: 5rem;
}

.rights-text {
  color: var(--primary-color-dark-gray);
  text-align: center;
}

.company-name {
  font-weight: bold;
}

/* Responsive design */

@media (min-width: 768px) {
  .container {
    max-width: 68.9rem;
  }

  .grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-text-box {
    width: 33.9rem;
    padding-top: 5.8rem;
    margin: 0 6.9rem 0 0;
  }

  .hero-img-phone {
    display: none;
  }

  .hero-img-tablet {
    width: 47.8rem;
    left: 200px;
    border-radius: 1.5rem;
    display: block;
  }

  .section-hero {
    margin-bottom: 4rem;
  }

  .about-img-box {
    transform: translateX(0);
    gap: 3rem;
  }
  .about-img-left-ph {
    display: none;
  }

  .about-img-left-tab {
    display: block;
    width: 21.4rem;
    border-radius: 1.5rem;
    mix-blend-mode: multiply;
  }

  .img-wrapper {
    width: 21.4rem;
    height: 32rem;
  }

  .about-img-right-ph {
    /* width: 44.5rem;
    height: 32rem; */
    display: none;
  }

  .about-img-right-tab {
    display: block;
    width: 44.5rem;
    height: 32rem;
    border-radius: 1.5rem;
  }

  .about-text-box {
    display: flex;
    align-items: center;
  }

  .about-title {
    text-align: left;
    margin: 0 7.7rem 0 0;
  }

  .about-description {
    text-align: left;
  }

  .section-about {
    margin-bottom: 14.2rem;
  }

  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 7.2rem;
    text-align: left;
  }

  .feature-component {
    width: 28.1rem;
  }

  .feature-component img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .feature-icon {
    margin-bottom: 4rem;
  }

  .feature-header {
    margin: 0 0 2.4rem 0;
    max-width: 20rem;
  }

  .section-features {
    margin-bottom: 14.2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 111rem;
  }

  header {
    margin-bottom: 8.3rem;
  }

  .hero-text-box {
    margin-right: 12.5rem;
  }

  .hero-img-tablet {
    display: none;
  }

  .hero-img-desktop {
    display: block;
    width: 54rem;
    border-radius: 1.5rem;
  }

  .hero-img-box {
    position: relative;
    left: 20px;
  }

  .block {
    display: block;
    width: 25.5rem;
    height: 24rem;
    background-color: var(--primary-color-light-gray);
    position: absolute;
    top: 0;
    right: -30rem;
    border-radius: 2rem;
  }

  .about-img-left-tab {
    display: none;
  }

  .img-wrapper {
    width: 25.5rem;
    height: 48rem;
    z-index: 1;
  }

  .about-img-left-ds {
    display: block;
    width: 25.5rem;
    height: 48rem;
    border-radius: 1.5rem;
    mix-blend-mode: multiply;
  }

  .about-img-right-tab {
    display: none;
  }

  .about-img-right-ds {
    display: block;
    width: 44.5rem;
    border-radius: 1.5rem;
  }

  .about-img-box {
    position: relative;
    transform: translate(15px);
  }

  .about-img-box .block {
    left: -30rem;
    top: 24rem;
  }

  .section-about {
    display: flex;
    margin-bottom: 16.8rem;
  }

  .about-text-box {
    width: 25.5rem;
    flex-direction: column;
    padding-top: 11.2rem;
  }

  .about-text-box {
    margin-left: 0;
  }

  .about-title {
    margin-bottom: 2.7rem;
  }

  .feature-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
    column-gap: 3rem;
  }

  .feature-icon {
    margin-bottom: 4.8rem;
  }

  .feature-component {
    width: 25rem;
    height: 32.3rem;
  }
}
